<body class="text-center login">
  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">NO CAROLS ALLOWED!</h1>
    <img style="width: 250px; margin-bottom: 25px" src="/res/images/NoCarol2.png"/>
    <a class="btn btn-lg btn-primary btn-block" href="/auth/github">
      Login with GitHub
    </a>
    <p class="mt-5 mb-3 text-muted">© 2020 Tiger King TODO</p>
  </form>
</body>

